<?xml version="1.0" encoding="utf-8"?>

<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <PublishDir>..\bin\Publish\MoreFlyout\server\</PublishDir>
        <Configuration>Release</Configuration>
        <Platform>X64</Platform>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>
        <TrimMode>partial</TrimMode>
        <SelfContained>true</SelfContained>
        <PublishAot>true</PublishAot>
        <PublishReadyToRun>false</PublishReadyToRun>
        <PublishReadyToRunComposite>false</PublishReadyToRunComposite>
    </PropertyGroup>
</Project>
