<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="Console" name="logconsole" />
		<target xsi:type="File"
		        createDirs="true"
		        fileName="${gdc:item=logDir}/service.log"
		        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
		        name="logfile"
		        keepFileOpen="false"
		        concurrentWrites="true"
		        archiveFileName="${gdc:item=logDir}/archive/service.{#}.log"
		        archiveEvery="Day"
		        archiveNumbering="Rolling"
		        maxArchiveDays="7" />
	</targets>

	<rules>
		<logger minlevel="Info" name="*" writeTo="logconsole" />
		<logger minlevel="Debug" name="*" writeTo="logfile" />
	</rules>
</nlog>